.sub-heading {
  font-size: 1.5rem;
  margin: 0;
  color: #152c939c;
}
.heading {
  font-size: 3rem;
  margin: 0;
}
.items {
  display: flex;
  background-color: #496aff04;
}

.text {
  font-size: 1rem;
  padding-right: 2.5rem;
  color: rgba(66, 66, 70);
}

.side-section {
  margin: 2rem;
  width: 30%;
}

.main-section {
  margin: 2rem;
  flex-grow: 3;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 4rem 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
}

.button {
  border-radius: 10px;
  padding: 12px 16px;
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5f2c82; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5f2c82,
    #49a09d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5f2c82,
    #49a09d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.button:hover {
  background: #49a09d;
  cursor: pointer;
}
